.navbar-admin {
       background-color: #2C3E50!important;
    min-height: 50px;
    position: fixed;
    margin: 0;
    padding: 0;
}


.ie9 .navbar-admin #admin-left-menu {
    max-height: 50px;
    overflow: visible !important;
}

    .ie9 .navbar-admin #admin-left-menu ul {
        overflow: visible !important;
        position: relative;
        z-index: 100000;
    }

.navbar-admin .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-admin .navbar-nav > li:hover > a {
     color: #18bc9c;
    BACKGROUND-COLOR:transparent !IMPORTANT;
   
}

.navbar-admin .navbar-nav > li > a {
    font-size: 14px;
}

.navbar-admin .navbar-brand {
    height: auto;
    padding: 0 20px 0 0;
    margin: 0;
    color: #ffffff;
    line-height: 49px;
    display: block;
    float: left;
    font-weight: normal;
    border-right: 1px solid #a0a0a0;
}

.admin-menu-list li {
    float: left;
    width: auto;
    color: #ffffff;
    padding: 0;
    line-height: 50px;
    margin: 0;
}

    .admin-menu-list li a {
        display: block;
        width: auto;
        color: #ffffff;
        padding: 0 10px;
        margin: 0;
        line-height: 50px;
    }

.admin-logo {
    position: relative;
    top: 2px;
    margin-right: 10px;
}

#popUpLang img {
    margin-left: 5px;
    left: 0 !important;
    top: 1px;
    border: 1px solid #a0a0a0;
}

.admin-menu-list li.welcome-msg {
    font-weight: bold;
    font-size: 14px;
    padding: 0 10px;
}

.navbar-admin .navbar-collapse {
    clear: none;
}

#admin-left-menu {
    float: left;
}

    #admin-left-menu li {
    }

        #admin-left-menu li a {
            display: block;
        }

        #admin-left-menu li ul {
            display: none;
            background: #f5f5f5;
            float: left;
            position: absolute;
            min-width: 100%;
        }


.ie #admin-left-menu li ul {
    position: relative;
}

#admin-left-menu li:hover ul {
    display: block !important;
    /*background: #000000;*/
}

    #admin-left-menu li:hover ul li {
        display: block !important;
        /*background: #000000;*/
    }

#Admin_asSiteTree {
    display: none;
    position: absolute;
    background: #333333;
}

    #Admin_asSiteTree img {
        position: relative;
        top: 5px;
    }

    #Admin_asSiteTree table {
        padding: 0 15px 5px 0;
    }

    #Admin_asSiteTree td {
        padding: 0 !important;
    }

    #Admin_asSiteTree a {
        color: #ffffff;
    }

        #Admin_asSiteTree a:visited {
            color: #ffffff;
        }

#admin-left-menu li:hover ul, #admin-left-menu li:hover #Admin_asSiteTree {
    display: block;
}

#admin-left-menu li ul {
    /*border-top: 1px solid #333333;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;*/
}

    #admin-left-menu li ul li {
        padding: 0;
        width: 100%;
        clear: left;
        float: left;
        display: block;
        border-bottom: 1px solid #f3f3f3;
    }

        #admin-left-menu li ul li:last-child {
            border-bottom: 0;
        }

        #admin-left-menu li ul li a {
            display: block;
            width: 100%;
            text-indent: 5px;
            padding: 5px 0;
            background: #333333;
            color: #ffffff;
        }

            #admin-left-menu li ul li a:hover {
                /*background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f3f3f3 100%);
                background-image: linear-gradient(to bottom, #ebebeb 0%, #f3f3f3 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff3f3f3', GradientType=0);
                background-repeat: repeat-x;
                -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
                box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
                color: #333333;*/
                background-color:#333;
            }

.navbar-admin ul li ul li a {
    /*color: #ffffff;*/
}

    .navbar-admin ul li ul li a:visited {
        /*color: #ffffff;*/
    }

#as-admin-bar .navbar-header {
    display: block;
    padding: 0 0;
}


/* MEDIA QUERIES */

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    #as-admin-bar .navbar-header a, #as-admin-bar .navbar-header .welcome-msg {
        font-size: 12px;
    }

    #as-admin-bar .navbar-brand {
        font-size: 14px;
    }

        #as-admin-bar .navbar-brand img {
            top: 4px;
        }

    #admin-left-menu {
        display: none;
    }

    #as-admin-bar .navbar-toggle {
        /*background: #333333;*/
        border: 1px solid #ffffff;
        color: #ffffff;
        margin: 5px 0 0;
        top: 0;
        left: 0;
        right: 0;
        position: relative;
        float: right;
    }

    .navbar-header {
        padding: 0 0;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .userMenu ul {
        clear: both;
        width: 100%;
        padding: 0;
    }

        .userMenu ul li {
            float: left;
            width: 100%;
            margin: 0;
            padding: 0;
        }

    .userMenu .navbar-admin .navbar-collapse {
        clear: both;
    }

    .userMenu {
        clear: both !important;
        box-shadow: none;
        border-top: 1px solid #a0a0a0;
        padding: 0;
    }

        .userMenu .navbar-nav {
            padding: 0;
            margin: 0;
        }

    .welcome-msg {
        display: none !important;
    }

    #as-admin-bar .navbar-header {
        padding: 0 15px;
    }

    #left_admin_menu {
        display:none;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
}


.nav > li > a:hover, .nav > li > a:focus {
    background-color: none !important;
}