@import url(Slyder_Styles.css);
@import url(Menu.css);
@import url(jquery-ui-1.9.2.custom.css);
@import url(bootstrap.css);
@import url(as-admin-bar.css);
@import url(font-awesome.min.css);
@import url(responsive.css);
@import url(navstylechange.css);
@import url(style.css);
@import url(animate.min.css);

/*******************************************************/
/************* Reset styles DO NOT REMOVE **************/
/*******************************************************/

html, div, applet, object, iframe,
/*HaptiX */
/*span, body,*/
/*These h1 to h6 tags already declared in bootstrap tags
    so it is overlapping  */
/*h1, h2, h3, h4, h5, h6,*/
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}

body {
    /*HaptiX- This class over right the Bootstrap class*/
    /*font-family: Arial, Helvetica, Sans-serif;
	font-size: 12px;
    line-height: 17px;
	color: #333;
    width:100%;
    height:100%;*/
}

ol, ul {
    list-style-type: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}
/*****************************************/
/*********   Common Classes   ************/
/*****************************************/

/*HaptiX- This class over right the Bootstrap class*/
/*H1{
	font-size:		24px;
	font-weight:	bold;
	line-height:	28px;
	color:			#fff;
    padding:        10px 0px 15px 0px; 
}

H2{
	font-size:		20px;
	font-weight:	bold;
	line-height:	24px;
	color:			#0087cd;
    padding:        5px 0px ;
}

h3{
	font-size:		18px;
	font-weight:	bold;
	line-height:	22px;
    color:			#cd0000;
    padding:        5px 0px;
}

H4{
	font-size:		16px;
	font-weight:	normal;
	line-height:	19px;
    color:			#454545;
    padding: 5px 0px;}

H5{
	color:			#004c6c;
	font-size:		15px;
	font-weight:	normal;
	line-height:	17px;
    padding: 5px 0px;}

H6{
	color:			#cd0000;
	font-size:		13px;
	font-weight:	normal;
    line-height:	15px;
    padding: 5px 0px;}*/

p {
    font-size: 12px;
    line-height: 17px;
    color: #333;
    display: block;
    padding: 5px 0px 5px;
}

a:link,
a.Normal:link {
    color: #0074b3;
    text-decoration: none;
    outline: none;
}

a:visited,
a.Normal:visited {
    color: #fff;
    text-decoration: none;
}

a:hover,
a.Normal:hover,
a:focus,
a.Normal:focus,
a:active,
a.Normal:active {
    color: #18bc9c;
    text-decoration: none;
    cursor: pointer;
}

.center {
    margin: 0 auto;
}

.float_right {
    float: right;
}

.clear {
    clear: both;
}

.float_left {
    float: left;
}

.Small {
    font-size: 10px;
    color: #333;
}

.Error /* Error and warning messages */ {
    color: #b31212;
    font-size: 12px;
}

.Message /* Informative messages */ {
    font-weight: normal;
    font-size: 12px;
    color: #b31212;
    background-color: #ffcc00;
}

.Head /* Add,announcements,articles,blog,ecc ecc */ {
    font-weight: bold;
    font-size: 18px;
    color: #ae2929;
    line-height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    padding: 0px 15px 0px 0px;
}

.Normal {
    font-size: 12px;
    line-height: 16px;
    color: #333;
    text-align: left;
}

.NormalItalic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

/*HaptiX*/
span.SiteTitle {
    /*font-weight: bold;
    color: #0086CD;
    position: relative;
    display: block;
    line-height:30px;*/
    padding: 0px !important;
}

ul.corporate_black {
    padding: 0px 0px 10px 20px;
    list-style-type: none;
}

    ul.corporate_black li {
        padding-left: 25px;
        background-image: url("../../DesktopLayouts/Flatly.Bootstrap/images/list_type_bg.png");
        background-position: 0px -5px;
        background-repeat: no-repeat;
        height: 25px;
    }

ul.vertical_navigation {
    padding-bottom: 10px;
}

    ul.vertical_navigation li {
        display: block;
        height: 29px;
        font-size: 14px;
        border-bottom: 1px solid #999;
        padding-left: 5px;
        line-height: 29px;
    }

        ul.vertical_navigation li a:link,
        ul.vertical_navigation li a:visited {
            background-image: url("../../DesktopLayouts/Flatly.Bootstrap/images/list_type_bg.png");
            background-position: 0px 0px;
            background-repeat: no-repeat;
            color: #0087cd;
            padding-left: 25px;
            display: block;
        }

        ul.vertical_navigation li a:hover,
        ul.vertical_navigation li a:active {
            color: #cd0000;
            background-position: 5px -30px;
        }

/*HaptiX- This class over right the Bootstrap class*/
/*hr{
    height: 1px;
    border: none;
}*/
/*****************************************/
/**********  Layout Classes   ************/
/*****************************************/


.DefaultLayoutDiv {
    min-height: 485px;
    position: relative;
    margin: 0 auto;
    padding: 0px 0px 20px 0px;
    border-bottom: 1px solid #333;
}

.PortalHeader {
    width: 960px;
}

.Main_Table {
    border: none;
}

td.Main_Content_Table {
}

#Content_Table {
}

    #Content_Table td {
        vertical-align: top;
    }

td.CenterTD,
td.RightTD {
    min-width: 320px!important;
    width: auto;
    overflow: hidden;
    position: relative;
}

td.LeftTD {
    min-width: 320px!important;
    max-width: 320px!important;
    width: 320px;
}

.banner_div {
    width: 100%;
    /*background-image:url("../../DesktopLayouts/Flatly.Bootstrap/images/banner_bg.jpg");*/
    background-repeat: repeat-x;
    background-position: top left;
    height: auto;
    min-height: 15px;
    /*background-color:#454545;*/
    border-bottom: 1px solid #333;
}

#leftpane,
#contentpane,
#rightpane,
#toppane,
#bottompane {
    min-height: 150px;
    padding: 10px;
    max-width: 940px;
    margin: 0 auto;
}



/*****************************************/
/**********  Header Classes   ************/
/*****************************************/

.header-container {
    width: 100%;
    height: auto;
}


/*****************************************/
/**********  Footer Styles    ************/
/*****************************************/
#footer_div {
    width: 100%;
    margin: 0 auto;
    padding: 5px 0px 0px 0px;
    border-top: 1px solid #999;
    /*background: #454545;*/
    min-height: 183px;
    position: relative;
    color: #999;
}

    #footer_div p {
        color: #999;
    }

    #footer_div ul,
    #footer_div p,
    #footer_div span {
        padding-left: 10px;
    }

        #footer_div ul li {
            height: 20px;
        }

    #footer_div a.no_deco:link,
    #footer_div a.no_deco:visited,
    #footer_div a.no_deco:hover {
        text-decoration: none;
    }

    #footer_div a:link,
    #footer_div a:visited {
        color: #999;
        text-decoration: underline;
    }

    #footer_div a:hover,
    #footer_div a:active {
        color: #fff;
    }

    #footer_div span {
        color: #41a4d9;
    }

    #footer_div hr {
        /*color:#666666;*/
        /*background-color:#666666;*/
        margin-bottom: 4px;
        border-top: 1px solid #000;
        height: 2px;
    }

#bottom_footer {
    background-color: transparent;
}

#copyright {
    float: right;
    font-size: 1em;
    padding: 5px 0;
}

/*****************************************/
/**********  Module Theme     ************/
/*****************************************/

.ModuleWrap {
    margin: 0 auto;
    width: 100%;
    max-width: 940px!important;
    position: relative;
}

.ModuleContent {
    padding: 10px;
    border: none;
    max-width: 940px;
    position: relative;
}

.module_Body table {
    border-spacing: 0px!important;
    max-width: 940px;
}

    .module_Body table td {
        padding: 3px 0px;
    }

span.titulosofertas,
.ModuleTitle { /* Title of each module */
    font-weight: normal;
    font-size: 18px;
    color: #0087cd;
    line-height: 20px;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

/*HaptiX- This class over right the Bootstrap class*/
/*.ModuleContent hr{
    height: 1px;
    color:#0087cd;
    background-color: #0087cd;
    margin-bottom: 5px;
}*/

div.Control_Panel_Table {
    position: absolute;
    top: 8px;
    right: 0;
    z-index: 400;
}

table.Control_Panel_Table td {
    padding: 0 2px;
}


.ModuleTitle_Alt {
    font-weight: normal;
    font-size: 16px;
    color: #fff;
    line-height: 20px;
    text-align: left;
    display: block;
    background-color: #333;
    padding: 10px;
}

.module_Body_alt {
    border: 1px solid #ccc;
    padding: 10px;
}

/************************************************/
/**********  Admin Modules Classes   ************/
/************************************************/

.div_ev_Table { /***** contenedor de tabla editar propiedades de modulo ****/
    padding: 20px 10px 10px 10px;
    border: none;
    margin: 0px auto 10px;
    color: #ffffff;
    min-width: 960px;
}

div.div_ev_Table table {
    max-width: 790px!important;
    min-width: 500px;
}

.div_ev_Table_modal { /***** contenedor de tabla editar propiedades de modulo ****/
    padding: 20px 20px 10px 20px;
    border: none;
    margin: 0px auto 10px;
    color: #ffffff;
    width: 770px!important;
}

div.div_ev_Table_modal table {
    max-width: 730px!important;
    min-width: 500px;
}

div.div_ev_Table table table {
    min-width: 30px;
}

div.div_ev_Table table td {
    padding: 2px;
}


table.ModuleWrap td {
    padding-top: 3px;
    padding-bottom: 3px;
}

table.ModuleWrap table table td {
    vertical-align: top;
}

table.ModuleWrap a:link,
table.ModuleWrap a:visited,
table.ModuleWrap a:hover,
table.ModuleWrap a:focus,
table.ModuleWrap a:active {
    cursor: pointer;
    text-decoration: none;
}

table.signInBody td {
    vertical-align: bottom;
}

option {
    background-color: #e5e5e5;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #cecece;
    min-height: 23px;
    font-size: 13px;
    line-height: 22px;
    height: 23px;
    color: #003366;
    padding: 3px 0px 0px 5px;
    display: block;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: 1px solid #0bd4ff!important;
    background-color: #f7f7f7;
}

input[type="text"]:active,
input[type="password"]:active {
    background-color: #fff;
}


input[type="text"],
input[type="password"],
input#Content_RightPane_ctl01_password,
input#Content_RightPane_ctl01_email,
input.NormalTextBox,
option [selected],
select,
select.NormalTextBox,
textarea {
    background-color: #f2f2f2;
    border: 1px solid #cccccc!important;
    min-height: 25px;
    font-size: 14px;
    line-height: 25px;
    color: #808080;
    padding: 0px 0px 0px 5px;
    outline: none;
}

    select,
    select.NormalTextBox {
        height: 27px;
        padding: 1px 0 0 1px !important;
    }
        /*select#Content_ContentPane_ctl01_EditTable_SITESETTINGS_LANGLIST{
    height:125px!important;
}*/
        select.SelectList {
            height: 250px!important;
            max-height: 250px!important;
        }

        select.NormalTextBox {
            margin-right: 5px!important;
        }

        select#Content_ContentPane_ctl01_tabList {
            height: 150px;
        }

        select.multiselect {
            height: 280px!important;
            max-height: 280px!important;
            width: 470px!important;
        }

        select#Content_ContentPane_ctl01_DestListBox,
        select#Content_ContentPane_ctl01_SourceListBox {
            height: 220px;
            overflow: auto;
        }

        select#Content_ContentPane_ctl01_SourceListBox {
            margin-right: 8px;
        }

a.CommandButton#Content_ContentPane_ctl01_DeleteLeft_Btn,
a.CommandButton#Content_ContentPane_ctl01_MoveLeft_Btn,
a.CommandButton#Content_ContentPane_ctl01_MoveRight_Btn,
a.CommandButton#Content_ContentPane_ctl01_CopyRight_Btn,
a.CommandButton#Content_ContentPane_ctl01_CopyAll_Btn,
a.CommandButton#Content_ContentPane_ctl01_DeleteRight_Btn {
    width: 60px!important;
    text-align: center;
}

td.rb_LangSw_sel img {
    padding-right: 5px;
}
/**************************************************/
/**********  Command Buttons Classes   ************/
/**************************************************/

/*HaptiX- This classes over rights the Bootstrap class*/
/*.CommandButton,
input.Normal[type="submit"],
input[type="submit"],
a.CommandButton
{
	background-image: url("../../DesktopLayouts/Flatly.Bootstrap/images/button_bg.png");
    background-position: 0px 0px;
    background-repeat: repeat-x;
    border: 1px solid #006699;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	display:inline-block!important;
    color:#fff;
	font-size:11px!important;
	font-weight:bold;
	line-height:24px!important;
	padding:0px 10px!important;
	min-height:24px!important;
}   
 
a.CommandButton:link,
a.CommandButton:visited,
input.CommandButton a:link,
input.CommandButton:visited,
input.Normal[type="submit"]:link,
input.Normal[type="submit"]:visited
{
    color:#fff;
    background-position: 0px 0px;
}

a.CommandButton:hover,
a.CommandButton:focus,
input.CommandButton:hover,
input.CommandButton:focus,
input.Normal[type="submit"]:hover,
input.Normal[type="submit"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus
{
	color:#fff;
	cursor:pointer;
    background-position: 0px -24px;
}

a.CommandButton:active,
input.CommandButton:active
{	
	color:#fff;
    background-position: 0px -48px;
}

input.imgLoginStyle  {
    background-color:#333; 
    border: none!important;
    height:22px!important;
    width:70px!important;
    color: #ccc;
}

input.imgLoginStyle:hover,
input.imgLoginStyle:active{
    color: #fff;
}

input.lnkRegisterStyle{
    border: none!important;
    height:22px!important;
    width:70px!important;
}

input.lnkRegisterStyle:hover,
input.lnkRegisterStyle:active{
}*/

/* Standard Appleseed Classes */

#ContentPane_ctl00_Desktopthreepanes1_ThreePanes_ctl03_allUsers {
    width: 100%;
}

    #ContentPane_ctl00_Desktopthreepanes1_ThreePanes_ctl03_allUsers td {
        color: #333333;
        border: 1px solid #999999;
    }

table.registerForm td {
    padding: 5px;
    min-height: 40px;
}

select#Content_topPane,
select#Content_leftPane,
select#Content_contentPane,
select#Content_rightPane,
select#Content_bottomPane {
    width: 170px;
    min-width: 170px!important;
    height: 190px;
    background-color: #fefefe;
}

/* Alternate styles for admin and edit Tabs */
.rb_AlternateLayoutTable {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

/*******************************************************/
/****************** Site Link classes ******************/
/*******************************************************/

.SiteLink_Border_Right,
.SiteLink_Border_Left {
    position: relative;
    width: 1px;
    height: 24px;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    float: left;
}

.SiteLink_Border_Right {
}

.SiteLink_Border_Left {
}

div.SiteLink_bg {
    display: inline-block;
    float: left;
    padding: 0px;
    height: 24px;
}

span.SiteLink {
    font-weight: normal;
    font-size: 12px;
    color: #ccc;
    text-align: center;
    vertical-align: bottom;
    display: inline-block;
    padding: 0px 1px;
    line-height: 25px;
    height: 29px;
}

.SiteLink A:link,
.SiteLink A:visited {
    display: block;
    color: #ccc;
    text-align: center;
    text-decoration: none;
    outline: none;
    font-size: 12px;
}

.SiteLink A:hover {
    color: #444;
}

.SiteLink A:active {
    color: #ccc;
}

table.SiteLink {
    vertical-align: top;
    padding: 0px;
    height: 29px;
    float: right;
    margin-right: 14px;
}

    table.SiteLink td {
        padding: 0px;
        margin: 0px;
        vertical-align: top;
    }

td.SubHead {
    color: #2d71b3;
    font-size: 12px;
    line-height: 15px;
    min-height: 25px!important;
    min-width: 200px;
    padding: 0px 0px 5px 5px;
    vertical-align: middle;
}

td.Normal {
    color: #4d4d4d;
    font-size: 13px;
    line-height: 16px;
}

td.SubHead span {
    color: #ae2929;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
}

.SubSubHead {
    padding: 0px 5px;
    font-weight: bold;
    font-size: 14px;
    color: #ae2929;
}

#Content_moduleType {
    color: #666;
}

/***************************************/
/**************text areas**************/
/***************************************/

#Content_ContentPane_ctl01_moduleType,
#Content_ContentPane_ctl01_paneLocation,
#Content_ContentPane_ctl01_viewPermissions,
#Content_ContentPane_ctl01_EditTable_SITESETTINGS_PAGE_TITLE,
#Content_ContentPane_ctl01_EditTable_SITESETTINGS_DOCTYPE,
#Content_ContentPane_ctl01_EditTable_SITESETTINGS_PAGE_META_KEYWORDS,
#Content_ContentPane_ctl01_EditTable_SITESETTINGS_PAGE_META_DESCRIPTION,
#Content_ContentPane_ctl01_EditTable_SITESETTINGS_PAGE_META_ENCODING,
#Content_ContentPane_ctl01_EditTable_SITESETTINGS_PAGE_META_OTHERS,
#Content_ContentPane_ctl01_EditTable_SITESETTINGS_PAGE_KEY_PHRASE,
#Content_ContentPane_ctl01_EditTable_SITESETTINGS_BODYATTS,
#Content_ContentPane_ctl01_EditTable_SITESETTINGS_GOOGLEANALYTICS,
#Content_ContentPane_ctl01_EditTable_SITESETTINGS_ALTERNATIVE_URL,
#Content_ContentPane_ctl01_EditTable_SITESETTINGS_ADDTHIS_USERNAME,
#Content_ContentPane_ctl01_EditTable_SITESETTINGS_DEFAULT_EDITOR,
#Content_ContentPane_ctl01_EditTable_SITESETTINGS_SNAPENGAGE,
#Content_paneLocation,
#Content_moduleType,
#Content_viewPermissions {
    width: 424px!important;
}




#Content_ContentPane_ctl01_moduleTitle,
#Content_ContentPane_ctl01_EditTable_SITESETTINGS_EDITOR_WIDTH,
#Content_ContentPane_ctl01_EditTable_SITESETTINGS_EDITOR_HEIGHT,
#Content_moduleTitle {
    width: 417px!important;
}

#Content_ctl00_startdate,
#Content_ContentPane_ctl01_parentTabDropDown,
#Content_ContentPane_ctl01_PermissionDropDown,
#Content_ContentPane_ctl01_tb_MobileTabName,
#Content_ContentPane_ctl01_TabTitleTextBox,
#Content_ctl00_tfName,
#Content_ctl00_tfCompany,
#Content_ctl00_tfPhone,
#Content_ctl00_tfEmail,
#Content_ctl00_ddlCountry,
#Content_ContentPane_ctl02_txtNewRole,
#Content_cacheTime,
#Content_ctl00_tfPwd,
#Content_ctl00_tfPwdAgain {
    width: 270px!important;
}




#Content_ctl00_ddlDay,
#Content_ctl00_ddlYear {
    width: 70px!important;
}

#Content_ctl00_ddlMonth {
    width: 130px!important;
}

#Content_ContentPane_ctl01_dgFile td {
    text-align: center;
    vertical-align: middle;
}

/********************************/
/**********USERS TABLE*************/
/********************************/
#Content_ContentPane_ctl01_allUsers,
#Content_ContentPane_ctl01_myDataGrid {
    margin: 15px 10px 20px 15px;
    border: 1px solid #666;
}

    #Content_ContentPane_ctl01_allUsers th,
    #Content_ContentPane_ctl01_myDataGrid th {
        height: 30px;
        width: 700px;
        text-align: center;
        vertical-align: middle;
        font-weight: bold;
        border: 1px solid #006699;
    }

    #Content_ContentPane_ctl01_allUsers td,
    #Content_ContentPane_ctl01_myDataGrid td {
        height: 22px;
        width: 700px;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #006699;
    }

.appleseedlangclass {
    height: 350px;
}

/* Simple Fade In Animation For Logo */
.fadeIn {
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
}

@keyframes fadeIn {
    0% {
        transform: scale(0);
        opacity: 0.0;
    }

    60% {
        transform: scale(1.1);
    }

    80% {
        transform: scale(0.9);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
    }

    60% {
        -webkit-transform: scale(1.1);
    }

    80% {
        -webkit-transform: scale(0.9);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

/*HaptiX- This class over right the Bootstrap class*/
.navbar {
    clear: both;
}

/*.navbar-default {
    background-color: transparent;
    border: 0;
}

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #ffffff;
        background-color: #178ACC;
    }*/




.navbar-header {
    float: none;
    /*HaptiX- This class over right the Bootstrap class*/
    /*padding:20px 0;*/
}

.ui-accordion-content {
    overflow: auto !important;
}

/* Z-index fix for ui-dialogs */

.ui-dialog {
    z-index: 2000;
}

/* Bootstrap Menu Fix */

.navbar-nav .dropdown:hover > .dropdown-menu {
    display: block;
}

.navbar-nav .dropdown:hover > a[data-toggle=dropdown] + .dropdown-menu {
    display: none;
}

.navbar-nav .dropdown.open > a[data-toggle=dropdown] + .dropdown-menu {
    display: block;
}

@media screen and (max-width: 768px) {
    #Banner_biMenu {
        clear: both;
        float: left;
        width: 100%;
    }
}

/*Appleseed base class*/
/*This is for Footer height*/

.footer_box {
    height: auto!important;
    color: #2FA4E7!important;
}

    .footer_box ul li a {
        color: #18BC9C!important;
    }

    .footer_box ul li a:hover {
        text-decoration:underline;
    }

.navbar-right {
    float: right !important;
}

H1,H2{
color:#2C3E50 !important;
}