/*
    anythingSlider v1.2
    
    By Chris Coyier: http://css-tricks.com
    with major improvements by Doug Neiner: http://pixelgraphics.us/
    based on work by Remy Sharp: http://jqueryfordesigners.com/
*/


.anythingSlider{
    width: 940px;
    height: 240px;
    position: relative;
    margin: 0 auto;
    padding: 0px;
    z-index: 50;
}

.anythingSlider .wrapper {
	height:240px;
	margin:0 auto;
	overflow:hidden;
	padding:0px;
	position:absolute;
	top:0px;
	left:0px;
	width:940px;
	z-index: -20;
}


                                       /* Width below is max for Opera */
.anythingSlider .wrapper ul{ 
	width: 32700px; 
	list-style: none;
	position: absolute; 
	top: 0px; 
	left: 0px; 
	background: transparent; 
	border:none;
	margin:0 auto;
    padding: 0;
	}
	
.anythingSlider ul li	{ 
	display: block; 
	float: left; 
	padding: 0; 
	height: 317px; 
	width: 940px;
	margin: 0; 
    position: relative;
	}
	
.anythingSlider .arrow  { 
	display: block; 
	height: 200px; 
	width: 67px; 
	background: url(../images/arrows.png) no-repeat 0 0; 
	text-indent: -9999px; 
	position: absolute; 
	top: 65px; 
	cursor: pointer; 
}

.anythingSlider .forward    {
	background-position: 0 0; 
	right: -20px; 
}

.anythingSlider .back	{ 
		background-position: -67px 0;
		left: -20px; 
}

.anythingSlider .forward:hover	{ 
	background-position: 0 -200px; 
}

.anythingSlider .back:hover	{
	background-position: -67px -200px; 
}

#thumbNav  {
	position:absolute;
    right:-8px;
    top:200px;
    text-align:center;
    padding: 15px 8px 11px 33px;
    outline: none;
    z-index: 50;
    width: 136px;/*177*/
    height: 20px;/*46*/
 }
 
#thumbNav a	{ 
    font-size: 11px; 
    line-height: 14px;
    display: inline-block; 
    padding: 0px; 
    height: 10px;
    width:10px; 
    margin: 0 5px 0 0px; 
    text-align: center; 
    color:#fff;
    outline: none;
    background-image: url("../../DesktopLayouts/Flatly.Bootstrap/images/slider_nav.png");
    background-position: 0px 0px;
    text-indent: -5000px;
}
 
#thumbNav a:hover	{ 
    color:#ffff66;
    outline: none;
    background-position: left bottom;
}

#thumbNav a.cur	{ 
    color:#fff500;
    outline: none;
    background-image: url("../../DesktopLayouts/Flatly.Bootstrap/images/slider_nav.png");
    background-repeat: no-repeat;
    background-position: left bottom;
}

#start-stop	{ 
    display: none; 
}

/*
  Prevents
*/
.anythingSlider .wrapper ul ul	{ 
	position: static;
	margin: 0; 
	background: none; 
	overflow: visible; 
	width: auto; 
	border: 0; 
}
.anythingSlider .wrapper ul ul li	{ 
	float: none; 
	height: auto; 
	width: auto; 
	background: none; 
}
.image_box{
    width: 340px;
    height: 240px;
    float: left;
}
.slider_text{
    float: left;
    width: 550px;
    padding: 20px 0px 0px 50px;
}
.slider_text p{
    color: #ccc;
    font-size: 14px;
    padding-bottom: 15px;
}
a.slider_button:link,
a.slider_button:visited{
    background-image: url("../../DesktopLayouts/Flatly.Bootstrap/images/button_bg.png");
    background-position: 0px 0px;
    background-repeat: repeat-x;
    border: 1px solid #006699;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
    height: 24px;
    width: 100px;
    color: #fff;
    text-align: center;
    line-height: 22px;
}
a.slider_button:hover{
    background-position: 0px -24px;
    color: #fff;
}
a.slider_button:active{
    background-position: 0px -48px;
    color: #fff;
}
