﻿@model TechnicalAssessment.Models.ListTraverser

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ListTraverser</h4>
        <hr />
        <table border="1">
            <tr>
                @foreach (int item in Model.ListOfIntegers)
                {
                    <td width="50">@Html.Label(item.ToString())</td>
                }
            </tr>
        </table>

        <br/>

        <table border="1">
            <tr>
                <td width="250">5th element from the end.</td>
            </tr>
            <tr>
                <td width="250">@Html.Label(Model.GetFifthItemFromEnd().ToString())</td>
            </tr>
        </table>
        
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
