﻿@{
    ViewBag.Title = "Technical Assessment";
}

<div class="jumbotron">
    <h1>Technical Assessment</h1>
    <p class="lead">Enjoying the journey....</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Trangulator</h2>
        <p>
            From the three entered parameters dertermine the type of Triangle. Options are:
        </p>
        <ol>
            <li>Right</li>
            <li>Acute</li>
            <li>Obtuse</li>
            <li>Equilateral</li>
            <li>Isoscles</li>
            <li>Scalene</li>
        </ol>
        <p>@Html.ActionLink("Try It Now!", "Index", "Triangulator")</p>
    </div>
    <div class="col-md-4">
        <h2>DroWord</h2>
        <p>This ia sentence backwardiser. Not Backwardising the sentence but the words within the entence.</p>
        <p>@Html.ActionLink("Try It Now!", "Index", "Drow")</p>
    </div>
    <div class="col-md-4">
        <h2>The -5th Element</h2>
        <p>Find the fifth element form the end of a linked list of elements.</p>
        <p>@Html.ActionLink("Try It Now!", "Index", "ListTraverser")</p>
    </div>
</div>