﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.table {
    align-self: center 

}

.fixed-size-square {
    display: table;
    width: 200px;
    height: 100px;
    background: #4679BD;
}

.fixed-size-square span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white
}

.fixed-size-square-emphasis {
    display: table;
    width: 200px;
    height: 100px;
    background: #46FFFF;
}
.fixed-size-square-emphasis span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: black
}

.fixed-size-square-error {
    display: table;
    width: 200px;
    height: 100px;
    background: #red;
}
.fixed-size-square-error span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: black
}