﻿@model TechnicalAssessment.Models.Triangulator

@{
    ViewBag.Title = "Index";

    string isRightStyle = Model.IsRight ? "fixed-size-square-emphasis" : "fixed-size-square";
    string isEquilateralStyle = Model.IsEquilateral ? "fixed-size-square-emphasis" : "fixed-size-square";
    string isIsosclesStyle = Model.IsIsoscles ? "fixed-size-square-emphasis" : "fixed-size-square";
    string isScaleneStyle = Model.IsScalene ? "fixed-size-square-emphasis" : "fixed-size-square";
    string isObtuseStyle = Model.IsObtuse ? "fixed-size-square-emphasis" : "fixed-size-square";
    string isAcuteStyle = Model.IsAcute ? "fixed-size-square-emphasis" : "fixed-size-square";
    string isInvalid = Model.IsInvalid ? "fixed-size-square-error" : "";
    string invalidText = Model.IsInvalid ? "Not a Valid Triangle" : "";

}

<h2>Index</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Triangulator</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.SideA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SideA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SideA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SideB, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SideB, new { htmlAttributes = new { @class = "form-control" }})
                @Html.ValidationMessageFor(model => model.SideB, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SideC, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SideC, new { htmlAttributes = new { @class = "form-control" }, })
                @Html.ValidationMessageFor(model => model.SideC, "", new { @class = "text-danger" })
            </div>
        </div>




        <table>
            <tr>
                <td>
                    <div class="@isRightStyle">
                        <span>Is Right<br/>3, 4, 5</span>
                    </div>
                </td>

                <td>
                    <div class="@isEquilateralStyle">
                        <span>Is Equilateral<br />4, 4, 4</span>
                    </div>
                </td>

                <td>
                    <div class="@isIsosclesStyle">
                        <span>Is Isoscles<br />1, 3, 3</span>
                    </div>
                </td>

                <td>
                    <div class="@isScaleneStyle">
                        <span>Is Scalene<br />2, 4, 6</span>
                    </div>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <div class="@isAcuteStyle">
                        <span>Is Acute<br/>4, 4, 3</span>
                    </div>
                </td>

                <td>
                    <div class="@isObtuseStyle">
                        <span>Is Obtuse<br />6, 4, 3</span>
                    </div>
                </td>
                <td>
                    <div class="@isInvalid">
                        <span>@invalidText</span>
                    </div>
                </td>
            </tr>
        </table>
        <br/>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
